
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

*{
  box-sizing: border-box;
  margin :0;
  padding : 0;
}

body{
  font-family:'Quicksand', sans-serif;;
   font-size: 100%;
    background-image: url('../public/timeimage.jpeg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: black;
   width: 100vw;
   height: 100vh;
   z-index: -1;
   margin-bottom: 540px;

}

.timer {
/*background-color: rgba(0,0,0,0.5);*/
  display:flex;
  flex: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 50%;
  height: 60%;
  margin-top: 300px;
  margin-left: 25%;
  margin-right: 20%;
}

.timer div:first-child{
  text-align: center;
}
.timer-icon{
  font-size: 8em;
}
h2{
  font-weight: 600;
  margin-bottom: 0.5em;
}

.timer div:first-child p{
  color:  black;
  font-weight: bold;
}
.timer div:last-child {
  border :3px solid black;
  border-radius: 10px;
  display:grid;
  grid-template-columns: repeat(7,1fr);
  margin-top: 3em;
  padding: 3em;
  text-align: center;

}

section p:first-child, .timer div:last-child span{
  font-size: 3em;
  font-weight: bold;
}

.small {
  font-weight: bold;
}
@media screen and(max-width:480px) {
  .timer div:last-child {
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
  }
}
  
